<!DOCTYPE HTML>
<html>
<head>
    <title>Dashboard - Smart Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
</head>
<body>
    <section id="header">
        <div class="inner">
            <a href="/logout" style="color: #FF0000; font-size: 16px; font-weight: bold; margin-right: 20px;">Logout</a>

            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 40px; color: #2c3e50; font-weight: bold; text-align: center; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); margin-top: 20px;">
                Benvenuto nella Dashboard, {{ session['username'] }}
            </h2>

            <!-- Sezione messaggi flash -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert-container" style="margin-top: 20px;">
                        <div class="alert alert-warning" style="background-color: #FFD700; padding: 15px; border-radius: 5px; font-size: 18px; color: #000; text-align: center;">
                            {% for message in messages %}
                                <p style="margin: 0;">{{ message }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

            <form method="POST" action="/dashboard" style="margin-top: 30px;">
                <label for="start_date">Data Inizio:</label>
                <input type="date" id="start_date" name="start_date" required
                       {% if earliest_date %}min="{{ earliest_date }}"{% endif %}
                       {% if latest_date %}max="{{ latest_date }}"{% endif %}
                        style="font-size: 20px; padding: 10px; width: 100%; margin-bottom: 20px;">

                <label for="end_date">Data Fine:</label>
                <input type="date" id="end_date" name="end_date" required
                       {% if earliest_date %}min="{{ earliest_date }}"{% endif %}
                       {% if latest_date %}max="{{ latest_date }}"{% endif %}
                        style="font-size: 20px; padding: 10px; width: 100%; margin-bottom: 20px;">

                <label for="room">Stanza:</label>
                <select id="room" name="room" style="font-size: 20px; padding: 10px; width: 100%; margin-bottom: 20px;">
                    {% for r in rooms %}
                        <option value="{{ r }}">{{ r }}</option>
                    {% endfor %}
                </select>
                <button type="submit" style="font-size: 20px; padding: 10px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
                    Visualizza Dati
                </button>
            </form>
            <br><br>

            <!-- Grafici -->
            {% if brightness_graph %}
               <h3 style="font-size: 24px; font-weight: bold; color: #555555;">
                    Grafico della Luminosità
                    <span style="font-size: 16px; font-weight: normal; color: #F7F5F5;">
                    (Data selezionata: {{ start_date }} - {{ end_date }})
                    </span>
                </h3>
                {{ brightness_graph|safe }}
            {% endif %}

            {% if brightness_line_graph %}
                 <h3 style="font-size: 24px; font-weight: bold; color: #555555;">
                    Distribuzione delle misurazioni di luminosità nelle 24 ore
                </h3>
                {{ brightness_line_graph|safe }}
            {% endif %}

            {% if humidity_graph %}
                <h3 style="font-size: 24px; font-weight: bold; color: #555555;">
                    Grafico dell'Umidità
                    <span style="font-size: 16px; font-weight: normal; color: #F7F5F5;">
                    (Data selezionata: {{ start_date }} - {{ end_date }})
                    </span>
                </h3>
                {{ humidity_graph|safe }}
            {% endif %}

            {% if humidity_line_graph %}
                 <h3 style="font-size: 24px; font-weight: bold; color: #555555;">
                    Distribuzione delle misurazioni di umidità nelle 24 ore
                </h3>
                {{ humidity_line_graph|safe }}
            {% endif %}

            {% if temperatures_graph %}
                <h3 style="font-size: 24px; font-weight: bold; color: #555555;">
                    Grafico delle Temperature
                    <span style="font-size: 16px; font-weight: normal; color: #F7F5F5;">
                    (Data selezionata: {{ start_date }} - {{ end_date }})
                    </span>
                </h3>
                {{ temperatures_graph|safe }}
            {% else %}
                <p style="color: red; font-weight: bold;">Nessun dato disponibile per il range selezionato.</p>
            {% endif %}
            {% if temperatures_box_graph %}
                 <h3 style="font-size: 24px; font-weight: bold; color: #555555;">
                    Distribuzione delle misurazioni di temperatura nelle 24 ore
                </h3>
                {{ temperatures_box_graph|safe }}
            {% endif %}
        </div>
    </section>
</body>
</html>
